.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 5%;
}

.filtros input{
    width: 580px;
    height: 50px;
    font-size: var(--texto);
    font-family: var(--font-exo2);
    background-color: rgb(from var(--cinza) r g b / 20%);
    color: var(--cinza);
    box-shadow: 0 0 1px var(--cinza);
    font-weight: 600;
    outline: none;
    padding: 0 20px;
    border-radius: 10px;
}

.filtros .botoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filtros div button{
    width: 230px;
    height: 50px;
    font-size: var(--texto);
    font-family: var(--font-exo2);
    color: var(--cinza);
    background-color: rgb(from var(--cinza) r g b / 20%);
    font-weight: 600;
    box-shadow: 0 0 1px var(--cinza);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 25px;
    text-align: left;
    box-sizing: border-box;
}

.lista_jogo{
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 377px);
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0;
}

.navegacao{
    margin: 5% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100px;
    font-family: var(--font-orbitron);
}

.navegacao button, .navegacao_botao{
    width: 60px;
    height: 55px;
    background-color: transparent;
    border: 1px solid var(--vermelho);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacao_botao img{
    width: 35px;
}

.navegacao ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navegacao ul li{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 55px;
    font-size: var(--texto);
    color: var(--branco);
    border: 1px solid var(--vermelho);
    border-radius: 10px;
}

.navegacao ul li:hover, .navegacao button:hover{
    cursor: pointer;
}