USE master;
GO

IF EXISTS (SELECT * FROM sys.databases WHERE name = 'Royal_Games')
BEGIN
    ALTER DATABASE [Royal_Games] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [Royal_Games];
END
GO

CREATE DATABASE [Royal_Games];
GO

USE [Royal_Games];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC sp_fulltext_database @action = 'enable';
END
GO
USE [Royal_Games]
GO
/****** Object:  Table [dbo].[ClassificacaoIndicativa]    Script Date: 19/05/2026 10:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassificacaoIndicativa](
	[ClassificacaoIndicativaID] [int] IDENTITY(1,1) NOT NULL,
	[Classificacao] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassificacaoIndicativaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoConservacao]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoConservacao](
	[EstadoConservacaoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoConservacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[GeneroID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogo]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[JogoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Imagem] [varbinary](max) NOT NULL,
	[StatusJogo] [bit] NULL,
	[EstadoConservacaoID] [int] NULL,
	[UsuarioID] [int] NULL,
	[ClassificacaoIndicativaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JogoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogoGenero]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogoGenero](
	[JogoID] [int] NOT NULL,
	[GeneroID] [int] NOT NULL,
 CONSTRAINT [PK_JogoGenero] PRIMARY KEY CLUSTERED 
(
	[JogoID] ASC,
	[GeneroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogoPlataforma]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogoPlataforma](
	[JogoID] [int] NOT NULL,
	[PlataformaID] [int] NOT NULL,
 CONSTRAINT [PK_JogoPlataforma] PRIMARY KEY CLUSTERED 
(
	[JogoID] ASC,
	[PlataformaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogoPromocao]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogoPromocao](
	[JogoID] [int] NOT NULL,
	[PromocaoID] [int] NOT NULL,
	[Preco] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_JogoPromocao] PRIMARY KEY CLUSTERED 
(
	[JogoID] ASC,
	[PromocaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_AlteracaoJogo]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_AlteracaoJogo](
	[Log_AlteracaoJogoID] [int] IDENTITY(1,1) NOT NULL,
	[DataAlteracao] [datetime2](0) NOT NULL,
	[NomeAnterior] [varchar](100) NOT NULL,
	[PrecoAnterior] [decimal](10, 2) NULL,
	[JogoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_AlteracaoJogoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plataforma]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plataforma](
	[PlataformaID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlataformaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocao]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocao](
	[PromocaoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[DataExpiracao] [datetime2](0) NOT NULL,
	[StatusPromocao] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromocaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/05/2026 10:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](60) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Senha] [varbinary](32) NOT NULL,
	[StatusUsuario] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassificacaoIndicativa] ON 

INSERT [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaID], [Classificacao]) VALUES (1, N'Livre')
INSERT [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaID], [Classificacao]) VALUES (2, N'10 Anos')
INSERT [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaID], [Classificacao]) VALUES (3, N'12 Anos')
SET IDENTITY_INSERT [dbo].[ClassificacaoIndicativa] OFF
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([GeneroID], [Nome]) VALUES (1, N'JRPG')
INSERT [dbo].[Genero] ([GeneroID], [Nome]) VALUES (2, N'Metroidvania')
INSERT [dbo].[Genero] ([GeneroID], [Nome]) VALUES (3, N'Hack ''n Slash')
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
SET IDENTITY_INSERT [dbo].[Jogo] ON 

SET IDENTITY_INSERT [dbo].[Jogo] OFF
GO
INSERT [dbo].[JogoGenero] ([JogoID], [GeneroID]) VALUES (1, 1)
INSERT [dbo].[JogoGenero] ([JogoID], [GeneroID]) VALUES (2, 2)
GO
INSERT [dbo].[JogoPlataforma] ([JogoID], [PlataformaID]) VALUES (1, 1)
INSERT [dbo].[JogoPlataforma] ([JogoID], [PlataformaID]) VALUES (1, 2)
INSERT [dbo].[JogoPlataforma] ([JogoID], [PlataformaID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Log_AlteracaoJogo] ON 

INSERT [dbo].[Log_AlteracaoJogo] ([Log_AlteracaoJogoID], [DataAlteracao], [NomeAnterior], [PrecoAnterior], [JogoID]) VALUES (1, CAST(N'2026-05-19T08:35:39.0000000' AS DateTime2), N'Metaphor: ReFantazio', CAST(250.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Log_AlteracaoJogo] ([Log_AlteracaoJogoID], [DataAlteracao], [NomeAnterior], [PrecoAnterior], [JogoID]) VALUES (2, CAST(N'2026-05-19T08:41:42.0000000' AS DateTime2), N'Metaphor: ReFantazio', CAST(250.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Log_AlteracaoJogo] ([Log_AlteracaoJogoID], [DataAlteracao], [NomeAnterior], [PrecoAnterior], [JogoID]) VALUES (3, CAST(N'2026-05-19T09:46:49.0000000' AS DateTime2), N'Metaphor: ReFantazio', CAST(250.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Log_AlteracaoJogo] OFF
GO
SET IDENTITY_INSERT [dbo].[Plataforma] ON 

INSERT [dbo].[Plataforma] ([PlataformaID], [Nome]) VALUES (1, N'Steam')
INSERT [dbo].[Plataforma] ([PlataformaID], [Nome]) VALUES (2, N'PS5')
INSERT [dbo].[Plataforma] ([PlataformaID], [Nome]) VALUES (3, N'Xbox Series X/S')
SET IDENTITY_INSERT [dbo].[Plataforma] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [Nome], [Email], [Senha], [StatusUsuario]) VALUES (1, N'a', N'a@a', 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [Nome], [Email], [Senha], [StatusUsuario]) VALUES (2, N'a', N'a@a.com', 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D105343FB072C4]    Script Date: 19/05/2026 10:34:27 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((1)) FOR [StatusJogo]
GO
ALTER TABLE [dbo].[Promocao] ADD  DEFAULT ((1)) FOR [StatusPromocao]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [StatusUsuario]
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Jogo_ClassificacaoIndicativa] FOREIGN KEY([ClassificacaoIndicativaID])
REFERENCES [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaID])
GO
ALTER TABLE [dbo].[Jogo] CHECK CONSTRAINT [FK_Jogo_ClassificacaoIndicativa]
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Jogo_EstadoConservacao] FOREIGN KEY([EstadoConservacaoID])
REFERENCES [dbo].[EstadoConservacao] ([EstadoConservacaoID])
GO
ALTER TABLE [dbo].[Jogo] CHECK CONSTRAINT [FK_Jogo_EstadoConservacao]
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Jogo_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Jogo] CHECK CONSTRAINT [FK_Jogo_Usuario]
GO
ALTER TABLE [dbo].[JogoGenero]  WITH CHECK ADD  CONSTRAINT [FK_JogoGenero_Genero] FOREIGN KEY([GeneroID])
REFERENCES [dbo].[Genero] ([GeneroID])
GO
ALTER TABLE [dbo].[JogoGenero] CHECK CONSTRAINT [FK_JogoGenero_Genero]
GO
ALTER TABLE [dbo].[JogoGenero]  WITH CHECK ADD  CONSTRAINT [FK_JogoGenero_Jogo] FOREIGN KEY([JogoID])
REFERENCES [dbo].[Jogo] ([JogoID])
GO
ALTER TABLE [dbo].[JogoGenero] CHECK CONSTRAINT [FK_JogoGenero_Jogo]
GO
ALTER TABLE [dbo].[JogoPlataforma]  WITH CHECK ADD  CONSTRAINT [FK_JogoPlataforma_Jogo] FOREIGN KEY([JogoID])
REFERENCES [dbo].[Jogo] ([JogoID])
GO
ALTER TABLE [dbo].[JogoPlataforma] CHECK CONSTRAINT [FK_JogoPlataforma_Jogo]
GO
ALTER TABLE [dbo].[JogoPlataforma]  WITH CHECK ADD  CONSTRAINT [FK_JogoPlataforma_Plataforma] FOREIGN KEY([PlataformaID])
REFERENCES [dbo].[Plataforma] ([PlataformaID])
GO
ALTER TABLE [dbo].[JogoPlataforma] CHECK CONSTRAINT [FK_JogoPlataforma_Plataforma]
GO
ALTER TABLE [dbo].[JogoPromocao]  WITH CHECK ADD  CONSTRAINT [FK_JogoPromocao_Jogo] FOREIGN KEY([JogoID])
REFERENCES [dbo].[Jogo] ([JogoID])
GO
ALTER TABLE [dbo].[JogoPromocao] CHECK CONSTRAINT [FK_JogoPromocao_Jogo]
GO
ALTER TABLE [dbo].[JogoPromocao]  WITH CHECK ADD  CONSTRAINT [FK_JogoPromocao_Promocao] FOREIGN KEY([PromocaoID])
REFERENCES [dbo].[Promocao] ([PromocaoID])
GO
ALTER TABLE [dbo].[JogoPromocao] CHECK CONSTRAINT [FK_JogoPromocao_Promocao]
GO
ALTER TABLE [dbo].[Log_AlteracaoJogo]  WITH CHECK ADD  CONSTRAINT [FK_LogAlteracao_Jogo] FOREIGN KEY([JogoID])
REFERENCES [dbo].[Jogo] ([JogoID])
GO
ALTER TABLE [dbo].[Log_AlteracaoJogo] CHECK CONSTRAINT [FK_LogAlteracao_Jogo]
GO
USE [master]
GO
